:root { 
  --allports: #007598;
  --botticelli: #cce4ed;
  --bright-sun: #f5cd3e;
  --glacier: #6eb0c7;
  --midnight-blue: #294a76;
  --white: #ffffff;
 
  --font-size-l: 17px;
  --font-size-m: 15px;
 
  --font-family-petalapro: "PetalaPro", Helvetica;
}
